*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 25px;
    background: white;
    
    
}

header{
    background:#D1800A;
    text-align: left;
    height: 15px;
    margin: 0 0 0 0 ;
    
    
}

main{
    
    text-align: left;
    background: white;
    min-height: 500px;
    width: 100%;
    padding: 5px 10px;
    
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    height: 50px;
    padding:5px;
    margin:10px;
}
nav{
    height:50px;
    text-align: right;
    background:#D1800A;
    
}
ul{
    
    
    list-style: none;
    padding: 10px;
}
li{
    display: inline-block;
    margin: 5px;
    
}
li a{
    text-decoration: none;
    
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px 0 10px 0;
   
}
a:hover{
    background: white;
    color:black;
  
  transition: .5s;
}
.form{
    border-radius: 10px 10px 0 0;
    border:0px solid black;
    margin:0 0 15px; 
    text-align: right;
    padding: 5px;
    
}
select{
    width:100px;
    padding: 5px;
    margin: 5px;
    border-radius: 25px;
    cursor: pointer;
    text-align: left;
}
option{
    font: 1em Arial,Sans-serif,bold;
}
.button{
    cursor: pointer;
    width: 100px;
    border-radius: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    background: transparent;
    padding: 6px;

}
button:hover{
    background: rgb(121, 238, 66);
    color: black;
}
footer{
    clear: both;
    font: 1.5em Arial,sans-serif;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 10px;
    background-color: #D1800A;
}